<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_ID}
			<a href="#" id="addSearchControl_ID" class="addSearchControl" {$addSearchControl_ID_attrs}>ID</a><br>
		{END addSearch_ID}
		{BEGIN addSearch_StudentID}
			<a href="#" id="addSearchControl_StudentID" class="addSearchControl" {$addSearchControl_StudentID_attrs}>Student ID</a><br>
		{END addSearch_StudentID}
		{BEGIN addSearch_start_date}
			<a href="#" id="addSearchControl_start_date" class="addSearchControl" {$addSearchControl_start_date_attrs}>Start Date</a><br>
		{END addSearch_start_date}
		{BEGIN addSearch_end_date}
			<a href="#" id="addSearchControl_end_date" class="addSearchControl" {$addSearchControl_end_date_attrs}>End Date</a><br>
		{END addSearch_end_date}
		{BEGIN addSearch_examStatus}
			<a href="#" id="addSearchControl_examStatus" class="addSearchControl" {$addSearchControl_examStatus_attrs}>Exam Status</a><br>
		{END addSearch_examStatus}
		{BEGIN addSearch_duration}
			<a href="#" id="addSearchControl_duration" class="addSearchControl" {$addSearchControl_duration_attrs}>Duration</a><br>
		{END addSearch_duration}
		{BEGIN addSearch_unemployed}
			<a href="#" id="addSearchControl_unemployed" class="addSearchControl" {$addSearchControl_unemployed_attrs}>Unemployed</a><br>
		{END addSearch_unemployed}
		{BEGIN addSearch_remarks}
			<a href="#" id="addSearchControl_remarks" class="addSearchControl" {$addSearchControl_remarks_attrs}>Remarks</a><br>
		{END addSearch_remarks}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
