<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN job_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_job {$fielddispclass_job}">
				Current Job
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_job {$fielddispclass_job}">
			{$job_value}
			</div>
		</td>
	</tr>
{END job_tabfieldblock}
{BEGIN certificate_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_certificate {$fielddispclass_certificate}">
				Certificate
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_certificate {$fielddispclass_certificate}">
			{$certificate_value}
			</div>
		</td>
	</tr>
{END certificate_tabfieldblock}
{BEGIN licences_no_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_licences_no {$fielddispclass_licences_no}">
				Licences No
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_licences_no {$fielddispclass_licences_no}">
			{$licences_no_value}
			</div>
		</td>
	</tr>
{END licences_no_tabfieldblock}
</table>





{END container_1}

</div>