<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_course}
			<a href="#" id="addSearchControl_course" class="addSearchControl" {$addSearchControl_course_attrs}>Course</a><br>
		{END addSearch_course}
		{BEGIN addSearch_Semester}
			<a href="#" id="addSearchControl_Semester" class="addSearchControl" {$addSearchControl_Semester_attrs}>Semester</a><br>
		{END addSearch_Semester}
		{BEGIN addSearch_program}
			<a href="#" id="addSearchControl_program" class="addSearchControl" {$addSearchControl_program_attrs}>Course</a><br>
		{END addSearch_program}
		{BEGIN addSearch_Batch}
			<a href="#" id="addSearchControl_Batch" class="addSearchControl" {$addSearchControl_Batch_attrs}>Batch</a><br>
		{END addSearch_Batch}
		{BEGIN addSearch_Class}
			<a href="#" id="addSearchControl_Class" class="addSearchControl" {$addSearchControl_Class_attrs}>Class</a><br>
		{END addSearch_Class}
		{BEGIN addSearch_program_course}
			<a href="#" id="addSearchControl_program_course" class="addSearchControl" {$addSearchControl_program_course_attrs}>Program Course</a><br>
		{END addSearch_program_course}
		{BEGIN addSearch_Exam_Remark}
			<a href="#" id="addSearchControl_Exam_Remark" class="addSearchControl" {$addSearchControl_Exam_Remark_attrs}>Exam Remark</a><br>
		{END addSearch_Exam_Remark}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
