<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="StudentID">
	{$StudentID_editcontrol}
	</control>
	<control field="sem">
	{$sem_editcontrol}
	</control>
	<control field="c1">
	{$c1_editcontrol}
	</control>
	<control field="c2">
	{$c2_editcontrol}
	</control>
	<control field="c3">
	{$c3_editcontrol}
	</control>
	<control field="c4">
	{$c4_editcontrol}
	</control>
	<control field="c5">
	{$c5_editcontrol}
	</control>
	<control field="c6">
	{$c6_editcontrol}
	</control>
	<control field="c7">
	{$c7_editcontrol}
	</control>
	<control field="c8">
	{$c8_editcontrol}
	</control>
	<control field="c9">
	{$c9_editcontrol}
	</control>
	<control field="c10">
	{$c10_editcontrol}
	</control>
	<control field="c11">
	{$c11_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>