<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN qua_year_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_qua_year {$fielddispclass_qua_year}">
				{BEGIN qua_year_label}Year{END qua_year_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_qua_year {$fielddispclass_qua_year}">
				{$qua_year_editcontrol}
			</div>
		</td>
	</tr>
{END qua_year_tabfieldblock}
{BEGIN qua_level_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_qua_level {$fielddispclass_qua_level}">
				{BEGIN qua_level_label}Level{END qua_level_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_qua_level {$fielddispclass_qua_level}">
				{$qua_level_editcontrol}
			</div>
		</td>
	</tr>
{END qua_level_tabfieldblock}
{BEGIN qua_place_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_qua_place {$fielddispclass_qua_place}">
				{BEGIN qua_place_label}School/ Institution{END qua_place_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_qua_place {$fielddispclass_qua_place}">
				{$qua_place_editcontrol}
			</div>
		</td>
	</tr>
{END qua_place_tabfieldblock}
{BEGIN qua_result_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_qua_result {$fielddispclass_qua_result}">
				{BEGIN qua_result_label}Result{END qua_result_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_qua_result {$fielddispclass_qua_result}">
				{$qua_result_editcontrol}
			</div>
		</td>
	</tr>
{END qua_result_tabfieldblock}
</table>





{END container_1}

</div>