<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN sstatus_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sstatus {$fielddispclass_sstatus}">
				Status
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_sstatus {$fielddispclass_sstatus}">
			{$sstatus_value}
			</div>
		</td>
	</tr>
{END sstatus_tabfieldblock}
{BEGIN StaffNo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_StaffNo {$fielddispclass_StaffNo}">
				Employee No
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_StaffNo {$fielddispclass_StaffNo}">
			{$StaffNo_value}
			</div>
		</td>
	</tr>
{END StaffNo_tabfieldblock}
{BEGIN department_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_department {$fielddispclass_department}">
				Department
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_department {$fielddispclass_department}">
			{$department_value}
			</div>
		</td>
	</tr>
{END department_tabfieldblock}
{BEGIN Job_Type_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Job_Type {$fielddispclass_Job_Type}">
				Job Type
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Job_Type {$fielddispclass_Job_Type}">
			{$Job_Type_value}
			</div>
		</td>
	</tr>
{END Job_Type_tabfieldblock}
{BEGIN Job_Title_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Job_Title {$fielddispclass_Job_Title}">
				Designation
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Job_Title {$fielddispclass_Job_Title}">
			{$Job_Title_value}
			</div>
		</td>
	</tr>
{END Job_Title_tabfieldblock}
{BEGIN Employee_Type_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Employee_Type {$fielddispclass_Employee_Type}">
				Employment
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Employee_Type {$fielddispclass_Employee_Type}">
			{$Employee_Type_value}
			</div>
		</td>
	</tr>
{END Employee_Type_tabfieldblock}
{BEGIN Join_Date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Join_Date {$fielddispclass_Join_Date}">
				Join Date
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Join_Date {$fielddispclass_Join_Date}">
			{$Join_Date_value}
			</div>
		</td>
	</tr>
{END Join_Date_tabfieldblock}
{BEGIN confirmation_date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_confirmation_date {$fielddispclass_confirmation_date}">
				Confirmation Date
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_confirmation_date {$fielddispclass_confirmation_date}">
			{$confirmation_date_value}
			</div>
		</td>
	</tr>
{END confirmation_date_tabfieldblock}
{BEGIN End_Date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_End_Date {$fielddispclass_End_Date}">
				End Date
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_End_Date {$fielddispclass_End_Date}">
			{$End_Date_value}
			</div>
		</td>
	</tr>
{END End_Date_tabfieldblock}
</table>





{END container_1}

</div>