<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN photo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_photo {$fielddispclass_photo}">
				{BEGIN photo_label}Photo{END photo_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_photo {$fielddispclass_photo}">
				{$photo_editcontrol}
			</div>
		</td>
	</tr>
{END photo_tabfieldblock}
{BEGIN Name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				{BEGIN Name_label}Name{END Name_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Name {$fielddispclass_Name}">
				{$Name_editcontrol}
			</div>
		</td>
	</tr>
{END Name_tabfieldblock}
{BEGIN IC_Number_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_IC_Number {$fielddispclass_IC_Number}">
				{BEGIN IC_Number_label}IC Number{END IC_Number_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_IC_Number {$fielddispclass_IC_Number}">
				{$IC_Number_editcontrol}
			</div>
		</td>
	</tr>
{END IC_Number_tabfieldblock}
{BEGIN Race_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Race {$fielddispclass_Race}">
				{BEGIN Race_label}Race{END Race_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Race {$fielddispclass_Race}">
				{$Race_editcontrol}
			</div>
		</td>
	</tr>
{END Race_tabfieldblock}
{BEGIN religion_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_religion {$fielddispclass_religion}">
				{BEGIN religion_label}Religion{END religion_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_religion {$fielddispclass_religion}">
				{$religion_editcontrol}
			</div>
		</td>
	</tr>
{END religion_tabfieldblock}
{BEGIN DOB_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DOB {$fielddispclass_DOB}">
				{BEGIN DOB_label}Birthday{END DOB_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_DOB {$fielddispclass_DOB}">
				{$DOB_editcontrol}
			</div>
		</td>
	</tr>
{END DOB_tabfieldblock}
{BEGIN Gender_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				{BEGIN Gender_label}Gender{END Gender_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
				{$Gender_editcontrol}
			</div>
		</td>
	</tr>
{END Gender_tabfieldblock}
{BEGIN Nationality_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Nationality {$fielddispclass_Nationality}">
				{BEGIN Nationality_label}Nationality{END Nationality_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Nationality {$fielddispclass_Nationality}">
				{$Nationality_editcontrol}
			</div>
		</td>
	</tr>
{END Nationality_tabfieldblock}
{BEGIN married_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_married {$fielddispclass_married}">
				{BEGIN married_label}Marital Status{END married_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_married {$fielddispclass_married}">
				{$married_editcontrol}
			</div>
		</td>
	</tr>
{END married_tabfieldblock}
</table>





{END container_1}

</div>