<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN topic_1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_topic_1 {$fielddispclass_topic_1}">
				{BEGIN topic_1_label}GEN Subject{END topic_1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_topic_1 {$fielddispclass_topic_1}">
				{$topic_1_editcontrol}
			</div>
		</td>
	</tr>
{END topic_1_tabfieldblock}
{BEGIN taskno1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_taskno1 {$fielddispclass_taskno1}">
				{BEGIN taskno1_label}GEN Task No{END taskno1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_taskno1 {$fielddispclass_taskno1}">
				{$taskno1_editcontrol}
			</div>
		</td>
	</tr>
{END taskno1_tabfieldblock}
</table>





{END container_1}

</div>