<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_StudentID}
			<a href="#" id="addSearchControl_StudentID" class="addSearchControl" {$addSearchControl_StudentID_attrs}>Student</a><br>
		{END addSearch_StudentID}
		{BEGIN addSearch_MatricNo}
			<a href="#" id="addSearchControl_MatricNo" class="addSearchControl" {$addSearchControl_MatricNo_attrs}>Matric No</a><br>
		{END addSearch_MatricNo}
		{BEGIN addSearch_DipID}
			<a href="#" id="addSearchControl_DipID" class="addSearchControl" {$addSearchControl_DipID_attrs}>Course</a><br>
		{END addSearch_DipID}
		{BEGIN addSearch_BatchID}
			<a href="#" id="addSearchControl_BatchID" class="addSearchControl" {$addSearchControl_BatchID_attrs}>Batch</a><br>
		{END addSearch_BatchID}
		{BEGIN addSearch_Class}
			<a href="#" id="addSearchControl_Class" class="addSearchControl" {$addSearchControl_Class_attrs}>Class</a><br>
		{END addSearch_Class}
		{BEGIN addSearch_Intake_Category}
			<a href="#" id="addSearchControl_Intake_Category" class="addSearchControl" {$addSearchControl_Intake_Category_attrs}>Program</a><br>
		{END addSearch_Intake_Category}
		{BEGIN addSearch_topic_1}
			<a href="#" id="addSearchControl_topic_1" class="addSearchControl" {$addSearchControl_topic_1_attrs}>GEN Subject</a><br>
		{END addSearch_topic_1}
		{BEGIN addSearch_taskno1}
			<a href="#" id="addSearchControl_taskno1" class="addSearchControl" {$addSearchControl_taskno1_attrs}>GEN Task No</a><br>
		{END addSearch_taskno1}
		{BEGIN addSearch_topic_2}
			<a href="#" id="addSearchControl_topic_2" class="addSearchControl" {$addSearchControl_topic_2_attrs}>MEC Subject</a><br>
		{END addSearch_topic_2}
		{BEGIN addSearch_taskno2}
			<a href="#" id="addSearchControl_taskno2" class="addSearchControl" {$addSearchControl_taskno2_attrs}>MEC Task No</a><br>
		{END addSearch_taskno2}
		{BEGIN addSearch_topic_3}
			<a href="#" id="addSearchControl_topic_3" class="addSearchControl" {$addSearchControl_topic_3_attrs}>ASD Subject</a><br>
		{END addSearch_topic_3}
		{BEGIN addSearch_taskno3}
			<a href="#" id="addSearchControl_taskno3" class="addSearchControl" {$addSearchControl_taskno3_attrs}>ASD Task No</a><br>
		{END addSearch_taskno3}
		{BEGIN addSearch_topic_4}
			<a href="#" id="addSearchControl_topic_4" class="addSearchControl" {$addSearchControl_topic_4_attrs}>WNL Subject</a><br>
		{END addSearch_topic_4}
		{BEGIN addSearch_taskno4}
			<a href="#" id="addSearchControl_taskno4" class="addSearchControl" {$addSearchControl_taskno4_attrs}>WNL Task No</a><br>
		{END addSearch_taskno4}
		{BEGIN addSearch_topic_5}
			<a href="#" id="addSearchControl_topic_5" class="addSearchControl" {$addSearchControl_topic_5_attrs}>ELEC Subject</a><br>
		{END addSearch_topic_5}
		{BEGIN addSearch_taskno5}
			<a href="#" id="addSearchControl_taskno5" class="addSearchControl" {$addSearchControl_taskno5_attrs}>ELEC Task No</a><br>
		{END addSearch_taskno5}
		{BEGIN addSearch_topic_6}
			<a href="#" id="addSearchControl_topic_6" class="addSearchControl" {$addSearchControl_topic_6_attrs}>SHM Subject</a><br>
		{END addSearch_topic_6}
		{BEGIN addSearch_taskno6}
			<a href="#" id="addSearchControl_taskno6" class="addSearchControl" {$addSearchControl_taskno6_attrs}>SHM Task No</a><br>
		{END addSearch_taskno6}
		{BEGIN addSearch_topic_7}
			<a href="#" id="addSearchControl_topic_7" class="addSearchControl" {$addSearchControl_topic_7_attrs}>MNP Subject</a><br>
		{END addSearch_topic_7}
		{BEGIN addSearch_taskno7}
			<a href="#" id="addSearchControl_taskno7" class="addSearchControl" {$addSearchControl_taskno7_attrs}>MNP Task No</a><br>
		{END addSearch_taskno7}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
