<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Student Info - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN Name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Name {$fielddispclass_Name}">
			<input type="checkbox" {$Name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Name {$fielddispclass_Name}">
			{$searchtype_Name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Name {$fielddispclass_Name}">
			{$Name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Name {$fielddispclass_Name}">
			{$Name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Name_fieldblock}
	{BEGIN City_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_City {$fielddispclass_City}">
				City
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_City {$fielddispclass_City}">
			<input type="checkbox" {$City_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_City {$fielddispclass_City}">
			{$searchtype_City}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_City {$fielddispclass_City}">
			{$City_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_City {$fielddispclass_City}">
			{$City_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END City_fieldblock}
	{BEGIN StateID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_StateID {$fielddispclass_StateID}">
				States
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_StateID {$fielddispclass_StateID}">
			<input type="checkbox" {$StateID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_StateID {$fielddispclass_StateID}">
			{$searchtype_StateID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_StateID {$fielddispclass_StateID}">
			{$StateID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_StateID {$fielddispclass_StateID}">
			{$StateID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END StateID_fieldblock}
	{BEGIN DOB_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DOB {$fielddispclass_DOB}">
				Birthday
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DOB {$fielddispclass_DOB}">
			<input type="checkbox" {$DOB_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DOB {$fielddispclass_DOB}">
			{$searchtype_DOB}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DOB {$fielddispclass_DOB}">
			{$DOB_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DOB {$fielddispclass_DOB}">
			{$DOB_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END DOB_fieldblock}
	{BEGIN ICNO_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ICNO {$fielddispclass_ICNO}">
				IC
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ICNO {$fielddispclass_ICNO}">
			<input type="checkbox" {$ICNO_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ICNO {$fielddispclass_ICNO}">
			{$searchtype_ICNO}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ICNO {$fielddispclass_ICNO}">
			{$ICNO_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ICNO {$fielddispclass_ICNO}">
			{$ICNO_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ICNO_fieldblock}
	{BEGIN Status_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Status {$fielddispclass_Status}">
				Status
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Status {$fielddispclass_Status}">
			<input type="checkbox" {$Status_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Status {$fielddispclass_Status}">
			{$searchtype_Status}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Status {$fielddispclass_Status}">
			{$Status_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Status {$fielddispclass_Status}">
			{$Status_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Status_fieldblock}
	{BEGIN MatricNo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MatricNo {$fielddispclass_MatricNo}">
				Matric No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MatricNo {$fielddispclass_MatricNo}">
			<input type="checkbox" {$MatricNo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MatricNo {$fielddispclass_MatricNo}">
			{$searchtype_MatricNo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MatricNo {$fielddispclass_MatricNo}">
			{$MatricNo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MatricNo {$fielddispclass_MatricNo}">
			{$MatricNo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END MatricNo_fieldblock}
	{BEGIN Gender_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				Gender
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Gender {$fielddispclass_Gender}">
			<input type="checkbox" {$Gender_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Gender {$fielddispclass_Gender}">
			{$searchtype_Gender}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
			{$Gender_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
			{$Gender_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Gender_fieldblock}
	{BEGIN Intake_Category_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Intake_Category {$fielddispclass_Intake_Category}">
				Program
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Intake_Category {$fielddispclass_Intake_Category}">
			<input type="checkbox" {$Intake_Category_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Intake_Category {$fielddispclass_Intake_Category}">
			{$searchtype_Intake_Category}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Intake_Category {$fielddispclass_Intake_Category}">
			{$Intake_Category_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Intake_Category {$fielddispclass_Intake_Category}">
			{$Intake_Category_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Intake_Category_fieldblock}
	{BEGIN DipID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DipID {$fielddispclass_DipID}">
				Course
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DipID {$fielddispclass_DipID}">
			<input type="checkbox" {$DipID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DipID {$fielddispclass_DipID}">
			{$searchtype_DipID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DipID {$fielddispclass_DipID}">
			{$DipID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DipID {$fielddispclass_DipID}">
			{$DipID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END DipID_fieldblock}
	{BEGIN BatchID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_BatchID {$fielddispclass_BatchID}">
				Batch
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_BatchID {$fielddispclass_BatchID}">
			<input type="checkbox" {$BatchID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_BatchID {$fielddispclass_BatchID}">
			{$searchtype_BatchID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_BatchID {$fielddispclass_BatchID}">
			{$BatchID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_BatchID {$fielddispclass_BatchID}">
			{$BatchID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END BatchID_fieldblock}
	{BEGIN race_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_race {$fielddispclass_race}">
				Race
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_race {$fielddispclass_race}">
			<input type="checkbox" {$race_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_race {$fielddispclass_race}">
			{$searchtype_race}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_race {$fielddispclass_race}">
			{$race_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_race {$fielddispclass_race}">
			{$race_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END race_fieldblock}
	{BEGIN Class_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Class {$fielddispclass_Class}">
				Class
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Class {$fielddispclass_Class}">
			<input type="checkbox" {$Class_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Class {$fielddispclass_Class}">
			{$searchtype_Class}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Class {$fielddispclass_Class}">
			{$Class_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Class {$fielddispclass_Class}">
			{$Class_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Class_fieldblock}
	{BEGIN Sponsor_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Sponsor {$fielddispclass_Sponsor}">
				Financial Aid
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Sponsor {$fielddispclass_Sponsor}">
			<input type="checkbox" {$Sponsor_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Sponsor {$fielddispclass_Sponsor}">
			{$searchtype_Sponsor}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Sponsor {$fielddispclass_Sponsor}">
			{$Sponsor_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Sponsor {$fielddispclass_Sponsor}">
			{$Sponsor_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Sponsor_fieldblock}
	{BEGIN Address1_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address1 {$fielddispclass_Address1}">
				Address
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address1 {$fielddispclass_Address1}">
			<input type="checkbox" {$Address1_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address1 {$fielddispclass_Address1}">
			{$searchtype_Address1}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address1 {$fielddispclass_Address1}">
			{$Address1_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address1 {$fielddispclass_Address1}">
			{$Address1_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Address1_fieldblock}
	{BEGIN qua_level_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_qua_level {$fielddispclass_qua_level}">
				Level
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_qua_level {$fielddispclass_qua_level}">
			<input type="checkbox" {$qua_level_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_qua_level {$fielddispclass_qua_level}">
			{$searchtype_qua_level}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_qua_level {$fielddispclass_qua_level}">
			{$qua_level_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_qua_level {$fielddispclass_qua_level}">
			{$qua_level_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END qua_level_fieldblock}
	{BEGIN f_name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f_name {$fielddispclass_f_name}">
				Father&#39;s Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_f_name {$fielddispclass_f_name}">
			<input type="checkbox" {$f_name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_f_name {$fielddispclass_f_name}">
			{$searchtype_f_name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_f_name {$fielddispclass_f_name}">
			{$f_name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_f_name {$fielddispclass_f_name}">
			{$f_name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END f_name_fieldblock}
	{BEGIN m_name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_m_name {$fielddispclass_m_name}">
				Mother&#39;s Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_m_name {$fielddispclass_m_name}">
			<input type="checkbox" {$m_name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_m_name {$fielddispclass_m_name}">
			{$searchtype_m_name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_m_name {$fielddispclass_m_name}">
			{$m_name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_m_name {$fielddispclass_m_name}">
			{$m_name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END m_name_fieldblock}
	{BEGIN Nogilir_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Nogilir {$fielddispclass_Nogilir}">
				No Giliran (MOE)
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Nogilir {$fielddispclass_Nogilir}">
			<input type="checkbox" {$Nogilir_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Nogilir {$fielddispclass_Nogilir}">
			{$searchtype_Nogilir}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Nogilir {$fielddispclass_Nogilir}">
			{$Nogilir_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Nogilir {$fielddispclass_Nogilir}">
			{$Nogilir_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Nogilir_fieldblock}
	{BEGIN Disability_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Disability {$fielddispclass_Disability}">
				Disability
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Disability {$fielddispclass_Disability}">
			<input type="checkbox" {$Disability_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Disability {$fielddispclass_Disability}">
			{$searchtype_Disability}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Disability {$fielddispclass_Disability}">
			{$Disability_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Disability {$fielddispclass_Disability}">
			{$Disability_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Disability_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
