<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="organization_name">
	{$organization_name_editcontrol}
	</control>
	<control 
	field="unemployed">
	{$unemployed_editcontrol}
	</control>
	<control 
	field="duration">
	{$duration_editcontrol}
	</control>
	<control 
	field="examStatus">
	{$examStatus_editcontrol}
	</control>
	<control 
	field="start_date">
	{$start_date_editcontrol}
	</control>
	<control 
	field="end_date">
	{$end_date_editcontrol}
	</control>
	<control 
	field="remarks">
	{$remarks_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
