<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN f_name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f_name {$fielddispclass_f_name}">
				{BEGIN f_name_label}Father&#39;s Name{END f_name_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_f_name {$fielddispclass_f_name}">
				{$f_name_editcontrol}
			</div>
		</td>
	</tr>
{END f_name_tabfieldblock}
{BEGIN f_tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f_tel {$fielddispclass_f_tel}">
				{BEGIN f_tel_label}Tel{END f_tel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_f_tel {$fielddispclass_f_tel}">
				{$f_tel_editcontrol}
			</div>
		</td>
	</tr>
{END f_tel_tabfieldblock}
{BEGIN f_ic_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f_ic {$fielddispclass_f_ic}">
				{BEGIN f_ic_label}IC{END f_ic_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_f_ic {$fielddispclass_f_ic}">
				{$f_ic_editcontrol}
			</div>
		</td>
	</tr>
{END f_ic_tabfieldblock}
{BEGIN f_address_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f_address {$fielddispclass_f_address}">
				{BEGIN f_address_label}Address{END f_address_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_f_address {$fielddispclass_f_address}">
				{$f_address_editcontrol}
			</div>
		</td>
	</tr>
{END f_address_tabfieldblock}
{BEGIN m_name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_m_name {$fielddispclass_m_name}">
				{BEGIN m_name_label}Mother&#39;s Name{END m_name_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_m_name {$fielddispclass_m_name}">
				{$m_name_editcontrol}
			</div>
		</td>
	</tr>
{END m_name_tabfieldblock}
{BEGIN m_tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_m_tel {$fielddispclass_m_tel}">
				{BEGIN m_tel_label}Tel{END m_tel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_m_tel {$fielddispclass_m_tel}">
				{$m_tel_editcontrol}
			</div>
		</td>
	</tr>
{END m_tel_tabfieldblock}
{BEGIN m_ic_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_m_ic {$fielddispclass_m_ic}">
				{BEGIN m_ic_label}IC{END m_ic_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_m_ic {$fielddispclass_m_ic}">
				{$m_ic_editcontrol}
			</div>
		</td>
	</tr>
{END m_ic_tabfieldblock}
{BEGIN m_address_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_m_address {$fielddispclass_m_address}">
				{BEGIN m_address_label}Address{END m_address_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_m_address {$fielddispclass_m_address}">
				{$m_address_editcontrol}
			</div>
		</td>
	</tr>
{END m_address_tabfieldblock}
</table>





{END container_1}

</div>