<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN topic_2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_topic_2 {$fielddispclass_topic_2}">
				{BEGIN topic_2_label}MF{END topic_2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_topic_2 {$fielddispclass_topic_2}">
				{$topic_2_editcontrol}
			</div>
		</td>
	</tr>
{END topic_2_tabfieldblock}
</table>





{END container_1}

</div>