<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="StudentID">
	{$StudentID_editcontrol}
	</control>
	<control 
	field="topic_1">
	{$topic_1_editcontrol}
	</control>
	<control 
	field="topic_2">
	{$topic_2_editcontrol}
	</control>
	<control 
	field="topic_3">
	{$topic_3_editcontrol}
	</control>
	<control 
	field="topic_4">
	{$topic_4_editcontrol}
	</control>
	<control 
	field="topic_5">
	{$topic_5_editcontrol}
	</control>
	<control 
	field="topic_6">
	{$topic_6_editcontrol}
	</control>
	<control 
	field="topic_7">
	{$topic_7_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
