<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_StudentID}
			<a href="#" id="addSearchControl_StudentID" class="addSearchControl" {$addSearchControl_StudentID_attrs}>Student</a><br>
		{END addSearch_StudentID}
		{BEGIN addSearch_topic_1}
			<a href="#" id="addSearchControl_topic_1" class="addSearchControl" {$addSearchControl_topic_1_attrs}>GM</a><br>
		{END addSearch_topic_1}
		{BEGIN addSearch_topic_2}
			<a href="#" id="addSearchControl_topic_2" class="addSearchControl" {$addSearchControl_topic_2_attrs}>MF</a><br>
		{END addSearch_topic_2}
		{BEGIN addSearch_topic_3}
			<a href="#" id="addSearchControl_topic_3" class="addSearchControl" {$addSearchControl_topic_3_attrs}>ADP</a><br>
		{END addSearch_topic_3}
		{BEGIN addSearch_topic_4}
			<a href="#" id="addSearchControl_topic_4" class="addSearchControl" {$addSearchControl_topic_4_attrs}>WL</a><br>
		{END addSearch_topic_4}
		{BEGIN addSearch_topic_5}
			<a href="#" id="addSearchControl_topic_5" class="addSearchControl" {$addSearchControl_topic_5_attrs}>ES</a><br>
		{END addSearch_topic_5}
		{BEGIN addSearch_topic_6}
			<a href="#" id="addSearchControl_topic_6" class="addSearchControl" {$addSearchControl_topic_6_attrs}>SM</a><br>
		{END addSearch_topic_6}
		{BEGIN addSearch_topic_7}
			<a href="#" id="addSearchControl_topic_7" class="addSearchControl" {$addSearchControl_topic_7_attrs}>MP</a><br>
		{END addSearch_topic_7}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
